{% extends 'main/base.html' %}

{% block content %}
<section class="home">
    <div class="home-content">
        <h2>Welcome to My Portfolio</h2>

        <p class="intro">
            Hello! I’m <strong>Aryan Shrestha</strong>, a Django & Python backend developer
            with a strong foundation in APIs, databases, and software testing.
        </p>

        <p>
            I specialize in building secure, scalable, and maintainable web applications.
            With a QA background, I ensure code quality, performance, and reliability.
        </p>

        
    </div>
</section>
{% endblock %}
